body{
    background-color: turquoise ;
    text-align: center;
}
#profile {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid white;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
